# Configuración sensible (Variables de entorno)
.env

# Carpetas de compilación y binarios
bin/
obj/
publish/

# Archivos temporales y de configuración de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.doccache

# Archivos de sistema
Thumbs.db
desktop.ini